services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: converger_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "4000:4000"
      - "9568:9568"
    environment:
      DATABASE_URL: ecto://postgres:postgres@db/converger_prod
      SECRET_KEY_BASE: "hJk3F8xZq2Lm9Rn5Tp7Wv0Yd4Bg6Ai1Cj8Ek0Fl2Gn4Ho6Ip8Jq0Kr2Lt4Mu6Nv8Ow0Px2Qy4Rz6Sa8Tb0Uc2Vd4We"
      PHX_SERVER: "true"
      PHX_HOST: localhost
      PORT: "4000"
      PROMETHEUS_PORT: "9568"

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "4317:4317"

  grafana:
    image: grafana/grafana:latest
    volumes:
      - ./docker/grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
      - loki

  loki:
    image: grafana/loki:latest
    volumes:
      - ./docker/loki/loki-config.yml:/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  otel-collector:
    image: otel/opentelemetry-collector:latest
    volumes:
      - ./docker/otel-collector/otel-config.yml:/etc/otel-collector-config.yaml
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    ports:
      - "4318:4318" # OTLP http receiver
      - "8889:8889" # Prometheus exporter metrics
    depends_on:
      - jaeger

volumes:
  postgres_data:
